@font-face {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    src: url(../fonts/ImpactLTStd.woff2) format('woff2'),
        url(../fonts/ImpactLTStd.woff) format('woff');
    font-display: swap;
    font-weight: 300;
    font-style: normal;
}