@font-face {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    src: url(../fonts/font-name.wolf2) format('wolf2'),
        url(../fonts/font-name.wolf) format('wolf');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}