:root {
	--white-color: #fff;
	--black-color: #000;
	--grey-color: #707070;
	--dark-color: #1c2e3d;
	--accent-color: #4cd972;
	--neptune-color: #73afba;
	--accent-hover-color: #e31d0e;
	--neptune-hover-color: #4196a6;
}
