:root {
    --white-color: #fff;
    --black-color: #000;
    --color-bg-default: #fff;
    --color-bg-first: #a6d3e5;
    --color-bg-second: #c2b6f3;
    --color-bg-third: #97dea3;
    --color-bg-first-accent: #568496;
    --color-bg-second-accent: #8c7ec4;
    --color-bg-third-accent: #62b570;
    --color-light-accent: #f5f5f5;

    --font-heading: 'Bebas Neue', sans-serif;
    --font-ui: system-ui, sans-serif;
    --font-body: system-ui, sans-serif;
    --font-accent: system-ui, sans-serif;


}