/* Заголовки */
h1, h2, h3 {
    color: #222;
    padding-bottom: 6px;
    font-weight: 600;
    font-family: 'Poppins',  sans-serif;
}

h1 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 32px;
}

h2 {
    text-align: left;
    padding-right: 6vw;
    padding-left: 6vw;
    margin-bottom: 20px;
    margin-top: 10px;
    border-bottom: 3px solid rgb(230, 54, 0);
    font-size: 26px;
}

h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 40px;
    width: fit-content;
    background-color: darkgrey;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 26px;
}

/* Абзацы */
p {
    font-family: 'Noto Sans JP', sans-serif;
    margin-left: 40px;
    margin-right: 20px;
    margin-bottom: 1.2em;
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
}


/* Горизонтальная линия */
hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 30px 0;
}

/* Медиа-блоки */
.media-block {
    padding: 8px;
    margin: 25px auto;
    background-color: #e6e6e6;
    border-radius: 6px;
    max-width: 800px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.media-block img, 
.media-block video {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

/* Подписи к медиа */
.media-block-caption {
    text-align: center;
    font-size: 0.9rem;
    color: #474747;
    margin-top: 8px;
    margin-bottom: 0px;
}

/* Списки */
.article-content ul, ol {
    margin-left: 1.5em;
    margin-bottom: 1.2em;
}

.article-content li {
    margin-left: 14px;
    margin-top: 0.6em;
    font-size: 1rem;
    line-height: 1.5;
    list-style-type: disc;
}


/* Ссылки */
.link {
    font-weight: 700;
    color: #007acc;
    text-decoration: none;
    border-bottom: 1px solid #007acc;
    transition: color 0.3s ease, border-bottom-color 0.3s ease;
}

.link:hover {
    color: #005999;
    border-bottom-color: #004170;
}

/* Контейнеры для статьи */
.article-content {
    background-color: #fff;
    margin: 60px auto;
    padding: 30px 40px;
    width: 90%;
    max-width: 1200px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.06);
}



/* Код для медиа-блоков с видео */
.media-block video {
    border: 1px solid #ccc;
    border-radius: 6px;
}

/* Мобильная адаптация */
@media (max-width: 600px) {
    body {
        margin: 15px 10px;
        padding: 0 10px;
    }

    .article-content {
        padding: 15px 20px;
    }

    h2, h3 {
        margin-left: 20px;
        margin-right: 20px;
    }

    h1 {
    font-size: 26px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 20px;
}

    p {
        margin-left: 20px;
        margin-right: 20px;
    }

    .article-content {
        padding: 20px;
        width: 95%;
    }
}
