.faq-section {
    margin-top: 80px;
    margin-bottom: 50px;
}

.faq-item {
    width: 100%;
    height: fit-content;
    display: inline-grid;
    grid-template-columns: auto auto;
    row-gap: 16px;
    column-gap: 16px;
}

.article-container {
    width: 100%;
    position: relative;
    display: inline-block;
    margin: auto;
    aspect-ratio: 4 / 3; /* Соотношение сторон */
}

.article-container img {
  transition: filter 0.3s ease;
}

.article-container:hover img {
  filter: brightness(80%);
}

img {
    border-radius: 10px;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;   /* Обрезает фото, не растягивает */
    object-position: center; /* Центрирует обрезку */
}

h1, h2, h3 {
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.25);
    padding-bottom: 6px;
    font-weight: 600;
    font-family: 'Poppins',  sans-serif;
    width: 90%;
    bottom: 20px;
    border-radius: 6px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    text-shadow: 2px 2px 3px black;
}

