.search__bar__container {
    width: 100%;
    bottom: 20px;
    position: relative;
}

.search__bar {
    flex-shrink: 0;
    overflow: visible;
    background-color: rgba(0, 0, 0, 50%);
    border-radius: 15px;
    width: 50%;
    min-width: 250px;
    max-width: 880px;
    height: 46px;
    margin: auto;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    font-size: 12px;
}

.search-form__field {
    width: 100%;
    height: 70%;
    margin-left: 10px ;
    border: 1px solid black;
    border-radius: 3px;
    padding-left: 15px ;
    text-transform: lowercase;
}

input::placeholder {
    color: black 50%;
  }
  
.search-form__button {
    background-image: url(/media/buttons/icons8-search.svg);
    min-width: 24px;
    min-height: 24px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 14px;

    filter: brightness(0) invert(1);
    transition: filter 0.3s ease;
}



.search-form__button:hover {
filter: brightness(0) invert(0.1);
}


@media (max-width: 960px) {
    .search__bar{
        height: 38px;
    }
}


@media (max-width: 650px) {
    .search__bar{
        height: 32px;
    }
}