.slider-container {
    padding-top: 80px;
    overflow: hidden;
    max-height: 90%;
    position: relative;
}

.swipper-wrapper {
    display: flex;
}


.swiper-slide {
    width: auto;
    aspect-ratio: 4 / 3;
    transform: scale(0.8);
    transition: transform 0.4s ease;
}

.swiper-slide img {
    height: 100%;
    border-radius: 6px;
  }

.swiper-slide-active {
    transform: scale(1);
  }

.swiper-slide-text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0px 4px;
    border-radius: 5px;
    cursor: default;
}
  
.swiper-button-next, .swiper-button-prev {
    top: 55%;
    cursor: pointer;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    transition: background-color 0.3s ease;
}

.swiper-button-next::after, .swiper-button-prev::after{
    font-size: 26px;
    margin-left: 10px;
}

.swiper-button-prev::after{
    margin-right: 16px;
}

.swiper-button-next::after{
    margin-left: 8px;
}

.swiper-button-next {
    right: 10%;
}


.swiper-button-prev {
    left: 10%;
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: 0.35;
    pointer-events: none;
}


.swiper-button-next:hover, .swiper-button-prev:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.swiper-pagination-bullets {
    top: 45px;
    margin-top: 5px;
    height: fit-content;
}

@media (max-width: 1080px) {

}

@media (max-width: 650px) {

}
