.slider-container {
    padding-top: 45px;
    overflow: hidden;
    height: 95%;
    position: relative;
}

.swiper-wrapper {
    display: flex;
    height: 100%;
    align-items: center;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    transition: transform 0.5s ease;
    transform: scale(0.8);
    overflow: hidden;
    background-color: gray;
    border-radius: 10px;
    height: 45vh;
    width: calc(45vh / 16 * 9);
    min-height: 350px;
    max-height: 650px;
    min-width: 200px;
    max-width: 375px;
}

.swiper-slide img {
    cursor: pointer; /* Чтобы показать, что на изображение можно кликнуть */
  }

.swiper-slide-active {
    transform: scale(1);
  }

.swiper-slide:hover {
    transform: scale(0.98);
  }

  
.swiper-button-next, .swiper-button-prev {
    top: 55%;
    position: absolute;
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    transition: background-color 0.3s ease;
}

.swiper-button-next {
    right: 10%;
}


.swiper-button-prev {
    left: 10%;
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: 0.35;
    pointer-events: none;
}


.swiper-button-next:hover, .swiper-button-prev:hover {
    background-color: rgba(0, 0, 0, 0.5);
}


@media (max-width: 650px) {
    .swiper-slide {
        height: 25vh;
        width: calc(25vh / 16 * 9);
    }
    .swiper-wrapper {
    gap: -100px;
    }

}